.basket {
  padding-top: 80px;
  padding-left: 195px;
  padding-right: 195px;
}

.basket__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 201px;
}

.basket__card {
  display: flex;
  align-items: center;
}

.basket__card > img {
  width: 377px;
  height: 441px;
}

.basket__card-wrapp {
  width: 337px;
  height: 144px;
  background: #eeeeee;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.1599);
  position: relative;
  transform: translateX(-25%);
}

.basket__desc {
  font-family: 'MADE Canvas';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  padding-top: 30px;
  padding-bottom: 15px;
  /* identical to box height */

  text-transform: capitalize;

  color: #000000;
}

.basket__price {
  font-family: 'MADE Canvas';
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 28px;
  /* identical to box height */

  text-transform: capitalize;

  color: #780202;
}

.basket__card-wrapp > a > button {
  width: 200px;
  height: 60px;
  color: white;
  background: #780202;
  border: none;
  transform: translateY(35%);
}
